*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html , body{
  width: 100%;
  height: 100%;
}

#main{
  position: relative;
  width: 100vw;
  height: 100vh;

  /* overflow: hidden; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient( to  left, rgb(255, 255, 255),  rgb(126, 189, 248));  
  overflow-y:auto;
}


#part1 {
  width: 50vw;
  height: 100vh;
  position: relative;

}

#part2{
  width: 50vw;
  height: 100vh;
position: relative;
}
.stopwatch {
    text-align: center;
    font-size: 3em;
    margin-top: 50px;
  }
  .display {
    margin-bottom: 10px;
  }
  button {
    font-size: 1em;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }

  

  /* // timer */

  .timer {
    width: 300px;
    margin: 50px auto;
    text-align: center;
  }
  
  .timer h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .timer .input {
    margin-bottom: 20px;
  }
  
  .timer input {
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .timer button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .timer button:hover {
    background-color: #3e8e41;
  }
  
  .timer .display {
    font-size: 36px;
    color: #333;
    width:  130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #333;
  }
  
  .display {
    position: relative;
    left: 34%;
    font-size: 36px;
    color: #333;
    width:  220px;
    height: 220px;
    border-radius: 50%;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .laps{
    font-size: 20px;
  }
@media (max-width:800px){
      
  #main{
    position: relative;
    width: 100vw;
    height: 100vh;
  
    /* overflow: hidden; */
    background: linear-gradient( to  left, rgb(255, 255, 255),  rgb(126, 189, 248));  
  }
  
  
  #part1 {
    width: 100vw;
    height: 100vh;
    position: relative;
  
  }
  
  #part2{
    width: 100vw;
    height: 100vh;
  position: relative;
  }
  .stopwatch {
      text-align: center;
      font-size: 3em;
      margin-top: 50px;
    }
    .display {
      margin-bottom: 10px;
    }
    button {
      font-size: 1em;
      padding: 10px;
      margin: 5px;
      cursor: pointer;
    }
  
    
  
    /* // timer */
  
    .timer {
      width: 100px;
      margin: 50px auto;
      text-align: center;
    }
    
    .timer h2 {
      font-size: 15px;
      margin-bottom: 20px;
    }
    
    .timer .input {
      margin-bottom: 20px;
    }
    
    .timer input {
      padding: 5px;
      margin-right: 10px;
      border-radius: 10px;
      border: none;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    
    .timer button {
      padding: 5px 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    
    .timer button:hover {
      background-color: #3e8e41;
    }
    
    .timer .display {
      font-size: 36px;
      color: #333;
      width:  130px;
      height: 130px;
      border-radius: 50%;
      border: 2px solid #333;
    }
    
    .display {
      position: relative;
      left: 34%;
      font-size: 36px;
      color: #333;
      width:  220px;
      height: 220px;
      border-radius: 50%;
      border: 2px solid #333;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .laps{
      font-size: 20px;
    }

    }
